.button {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: -0.25px;
    background-color: inherit;
    color: $primary-color;
    position: relative;

    &__content {
        padding: 0 7px;
    }
    
    
    &__contained {
        width: 100%;
        height: 56px;
        background: $primary-color;
        color: white;
        border-radius: 8px;

        &_secondary {
            background: rgba($border-color, 0.08);
            color: rgba($main-color, 0.8);
        }

        &_error {
            background: #FF4545;
        }
    }
    &__text {
        border-radius: 0px;
        
    }
    &__outlined {
        border: 1px solid $primary-color;
        width: 100%;
        height: 56px;

        &_secondary {
            border: 1px solid rgba($border-color, 0.08);
        }

        &_error {
            border: 1px solid #FF4545;
        }
    }
}




